nav {
  min-width: 250px;
  min-height: 100vh;
  padding: 1.5rem 0;
  background: #14121f;
  flex-basis: 320px;

  h3 {
    padding: 0 1.5rem;
    margin-top: 0;
    color: #ba112e;
    font-size: 1.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  li {
    text-decoration: none;
    list-style-type: none;

    a {
      margin: 0.125rem 0;
      padding: 0.25rem 1.5rem;
      color: #f0f4f7;
      text-decoration: none;
      font-weight: bold;
      display: block;

      &.active {
        background: #2f2c4b;

        &:hover {
          background: transparent;
        }
      }

      &:hover {
        background: #2f2c4b;
      }
    }
  }
}