@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import './App';

@import './main';

/*
`export const TABLET='@media(min-size:768px)'`
`export const DESKTOP='@media(min-size:992px)'`

bgAccent:'#2f2c4b',
accent:'white',
errBgAccent:'#d84a5a',
errAccent:'white',
infoBgAccent:'#1a61af',
infoAccent:'white',
pBorderColor:'black',
pBgColor:'#f0f4f7',
accBorderColor:'transparent',
alertBgAccent:'#3bb5e6'
*/